.header {
    text-align: center;
    padding: 15px;
}

.header h1 {
    font-size: 32px;
    margin-bottom: 5px;
}

.header p {
    color: gray;
}

.filter {

    border-radius: 15px;
    background-color: #e0e0e0;

    margin-bottom: 25px;

    display: flex;
    justify-content: center;
    gap: 30px;
}

.button:hover {
    background-color: #333;
    color: white;
}

.button {
    padding: 5px 18px;
    margin: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.3s;
}

.gallery {
    display: flex;

    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    width: 200px;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.footer {
    text-align: center;
    padding: 15px;
    margin-top: 20px;
    background-color: #f2f2f2;
    font-size: 14px;
}

@media  (max-width: 480px){
   .filter{
    width: 100%;
    gap: 2px;
   }
   

.button {
    width: 100%;
     font-size: 15px;
     padding: 2px 5px;
}
}
